<mat-table [dataSource]="dataSource" class="custom-table">
  <ng-container matColumnDef="Product Id">
    <mat-header-cell class="custom-table-header" *matHeaderCellDef> Product Id </mat-header-cell>
    <mat-cell *matCellDef="let product"> {{ product.productId }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Product Name">
    <mat-header-cell class="custom-table-header" *matHeaderCellDef> Product Name </mat-header-cell>
    <mat-cell *matCellDef="let product"> {{ product.productName }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Product Category">
    <mat-header-cell class="custom-table-header" *matHeaderCellDef> Product Category </mat-header-cell>
    <mat-cell *matCellDef="let product"> {{ product.productCategory }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Product Size">
    <mat-header-cell class="custom-table-header" *matHeaderCellDef> Product Size </mat-header-cell>
    <mat-cell *matCellDef="let product"> {{getProductSizeText( product.productSize) }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Product Quantity">
    <mat-header-cell class="custom-table-header" *matHeaderCellDef> Quantity </mat-header-cell>
    <mat-cell *matCellDef="let product"> {{ product.quantity }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Product Price">
    <mat-header-cell class="custom-table-header" *matHeaderCellDef> Price </mat-header-cell>
    <mat-cell *matCellDef="let product"> {{ product.price }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>