<mat-card-header class="box-header">
    <mat-card-title class="box-title">View order</mat-card-title>
    <button mat-raised-button routerLink="/customers/createcustomer">Edit Order</button>
</mat-card-header>

<div class="orderInfo">
    <p>Order Id: <span>{{order?.id}}</span></p>
    <p>Order Date: <span>{{order?.orderDate}}</span></p>
</div>

<p>Customer Name: {{order?.customerName}}</p>

<p>Status: {{getOrderStatusName(order?.status)}}</p>

<p>Cost: {{order?.totalCost}}</p>


<app-order-item-table [dataSource]="dataSource"></app-order-item-table>