<form [formGroup]="customerForm" (ngSubmit)="submitForm()">
    <mat-card-header class="box-header">
        <mat-card-title class="box-title">New Customer</mat-card-title>
    </mat-card-header>
    <div class="form-field">

        <mat-form-field class="formInput">
            <mat-label>Date</mat-label>
            <input matInput formControlName="dateAdded" type="text" [readonly]="true" >
        </mat-form-field>
    </div>
    <div class="form-field">
        <mat-form-field class="formInput">
            <mat-label>First name</mat-label>
            <input  matInput type="text"  formControlName="firstName" required>
        </mat-form-field>
    </div>
    <div class="form-field">
        <mat-form-field class="formInput">
            <mat-label>Last name</mat-label>
            <input matInput type="text"  formControlName="lastName" required>
        </mat-form-field>
    </div>
    <div class="form-field">
        <mat-form-field class="formInput">
            <mat-label>Address</mat-label>
            <textarea matInput  formControlName="address" required></textarea>
        </mat-form-field>
    </div>
    <div>
        <div class="button-group">
            <button mat-raised-button class="box-button" type="submit" [disabled]="!customerForm.valid">Add
                Customer</button>
        </div>
    </div>

</form>