<form [formGroup]="orderForm" (ngSubmit)="submitForm()">
  <mat-card-header class="box-header">
    <mat-card-title class="box-title">{{headerText}}</mat-card-title>
  </mat-card-header>
  <!-- customer -->
  <div>
    <mat-form-field  class="formInput">
      <mat-label>Customer</mat-label>
      <mat-select required placeholder="Select customer name" formControlName="customerId">
        <mat-option *ngFor="let customer of customers$ | async" [value]="customer.id" required>{{customer.firstName + ' ' +
          customer.lastName }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- status -->
  <div>
    <mat-form-field  class="formInput">
      <mat-label>Status</mat-label>
      <mat-select required placeholder="Select order status" formControlName="status" >
        <mat-option [value]="0">New</mat-option>
        <mat-option [value]="1">Paid</mat-option>
        <mat-option [value]="2">Shipped</mat-option>
        <mat-option [value]="3">Delivered</mat-option>
        <mat-option [value]="4">Closed</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- toral cost -->
  <div class="select-label">
    Total: {{ orderForm.get('totalCost')?.value | currency }}
  </div>
  <!-- add products-->
  <div class="box-header">
    <h3>Add Products:</h3>
    <button mat-raised-button class="box-button" (click)="onAddProductClick()">Add product</button>
  </div>
  <app-order-item-table [dataSource]="dataSource">

  </app-order-item-table>
  <!-- comment -->

  <div>

    <mat-form-field class="comment">
      <mat-label>Comment</mat-label>
      <textarea matInput formControlName="comment" placeholder="Enter comment..."></textarea>
    </mat-form-field>
  </div>
  <!-- create order button -->
  <div class="button-group">
    <button mat-raised-button class="box-button"  type="submit" [disabled]="!orderForm.valid">{{headerText}}</button>
    <button mat-raised-button class="box-button" type="reset" (click)="onCancelClick()">Cancel</button>
  </div>
</form>