<mat-card-header class="box-header">
    <mat-card-title class="box-title">View Product</mat-card-title>
    <button class="box-button" mat-raised-button [routerLink]="['/products/edit', product?.id]">Edit Product</button>
</mat-card-header>



<div class="order-details">
    <div class="order-row">
        <span class="order-label">Product number:</span>
        <span class="order-value">{{ product?.id }}</span>
        <span class="order-label">Created Date</span>
        <span class="order-value">{{ product?.createdDate | date:'shortDate' }}</span>
    </div>
    <div class="order-row">
        <span class="order-label">Product Name:</span>
        <span class="order-value">{{ product?.name }}</span>
    </div>
    <div class="order-row">
        <span class="order-label">Product Category:</span>
        <span class="order-value">{{ product?.categoryId | categoryName: categories | async }}</span>
    </div>
    <div class="order-row">
        <span class="order-label">Cost:</span>
        <span class="order-value">{{ product?.price  | currency}}</span>
    </div>
</div>
<div class="description-section">
    <p class="description-label">Description</p>
    <textarea class="description" disabled matInput>{{product?.description}}</textarea>
</div>
