<div class="order-form">
      <h2>Create New Order</h2>
      <form (ngSubmit)="submitForm()">
        <div class="select-container">
          <p class="select-label">Customer:</p>
          <select [(ngModel)]="selectedCustomerId" class="select-dropdown"  name="customerId" required>
            <option *ngFor="let customer of customers" [value]="customer.id">{{ customer.name }}</option>
          </select>
        </div>
          
      <div class="select-container">
        <p class="select-label">Status: </p>
        <select class="select-dropdown"  [(ngModel)]="order.status" name="status" required>
          <option value=0>New</option>
          <option value=1>Paid</option>
          <option value=2>Shipped</option>
          <option value=3>Delivered</option>
          <option value=4>Closed</option>
        </select>
         
      </div>
      <div class="select-label">
        Total: {{totalCost| currency}}
      </div>
      <div class="box-header">
      <h3>Add Products: </h3>
      <button class="box-button" >Add product</button>
    </div>
      <table class="order-table">
        <thead>
          <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Product category</th>
            <th>Product size</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let product of products" >
            <td>{{ product.id }}</td>
            <td>{{ product.name  }}</td>
            <td>{{ product.categoryId}}</td>
            <td>{{ product.size }}</td>
            <td>{{ product.availableQuantity }}</td>
            <td>{{ product.price}}</td>
            
            
          </tr>
        </tbody>
      </table>
      
      <textarea class="comment-textarea" [(ngModel)] = "order.comment" name="comment" placeholder="Enter comment...">
      </textarea >
      <button class="box-button" type="submit">Create Order</button>
      <button class="box-button" type="reset" routerLink ="/orders">Cancel</button>
    </form>
  </div>
  